<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-nc" role="menuitem"><a href="{{site.baseurl}}tag/newConfirmed/">신규확진자</a></li>
    <li class="nav-gp" role="menuitem"><a href="{{site.baseurl}}tag/governmentPolicy/">정부 방침</a></li>
    <li class="nav-qs" role="menuitem"><a href="{{site.baseurl}}tag/quarantineStatus/">방역 현황</a></li>
    <li class="nav-sc" role="menuitem"><a href="{{site.baseurl}}tag/screeningCenter/">선별진료소</a></li>
    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>